:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-third:var(#000000);

    --transition-speed: 600ms;
  }

  *{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-secondary);
  }

  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-left: 20rem;
    padding: 1rem;
    
  }


  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
   
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    background-color: var(--bg-primary);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(2);
    background: var(--special);
    color: var(--text-secondary);

  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }

  .navbar::-webkit-scrollbar{
    display: none;
  }
  
  .nav-link i {
   font-size: 175%;
   margin-left: 1.5rem;
  }
  
 
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }


  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



#container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    
    
}

#img img{
    width: 32rem; 
}

#calculator{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: var(--text-secondary);
    background-color: var(--bg-third);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#form{
    display:flex;
    flex-direction: column;
    gap: 2rem;

}

.title{
    font-size: 25px;
    position: relative;
    width: 22rem;
    height:5px;
    margin-bottom: 10px;/* distanciar elemento  */

}
#line{
background-color: var(--special); 
height:3px;
width: 20%;
}

title::after{
    position: absolute;
    content: '';
    background-color: var(--special);
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;

}

.input-box label{
    font-size: 1.1rem;
    color: #cbd5e1;
    font-weight: 500;
    

}

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-secondary);
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.input-field span,
.input-field i{
    color: var(--text-primary);
    font-size: 1.3rem;
    padding: 0.6 1rem;
    margin-right: 5px;
   
}

.input-field input{
    background-color: var(--bg-secondary);
    border: none;
    width: 100%;
    color: var(--text-primary);
    font-size: 1.3rem;
    padding:  0 0.5rem;

}

.idade{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   /* margin-top: 20px;  Ajuste conforme necessário */
}

.idade label {
    font-size: 1.1rem;
    color: #cbd5e1;
    font-weight: 500;
}

.idade-field{
    margin-top: 0.5rem;
    background-color: var(--bg-secondary);
    border: none;
    width: 60px;
    color: var(--text-primary);
    font-size: 1.3rem;
    padding:  0 0.5rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    
   
}


.idade-field input{
    margin-top: 0.5rem;
    background-color: var(--bg-secondary);
    border: none;
    width: 50px;
    color: var(--text-primary);
    font-size: 1.3rem;
    padding:  0 0.5rem;
    
}


.input-field i:hover{
    color: var(--special);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button{
    appearance: none;

}

.input-field input:focus{
    outline: none;

}

.idade-field input::-webkit-inner-spin-button,
.idade-field input::-webkit-outer-spin-button{
    appearance: none;

}

.idade-field input:focus{
    outline: none;

}

#calculate{
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: var(--special);
    color: #f8fafc;
    padding: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(4, 4, 4, 0.2);

}

#result{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid var(--special);
    padding: 0.75rem 0;

}

#bmi{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.2rem;

}

#bmi span:last-child{
    font-size: 0.875rem;
    color: var(--text-primary);

}

#description{
    width: 15.5rem;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;

}

#moreinfo{
    border-top: 1px solid var(--special);
    padding: 1.5rem;

}

#moreinfo a{
    color: var(--special);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.875rem;
    text-decoration: none;

}

#moreinfo a:hover{
    color: #cbd5e1;
}

.hidden{
    display: none;
}

.yourefine{
    color: green;
}


.attention{
    color: #f1ee0a;
}

.takecare{
    color: #dc2626;
}



@media screen and (max-width: 1024px){
    #img{
        display: none;
    }
}
/* Small screens */
@media screen and (max-width: 500px){
    #container{
        width: 100%;
        height: 100%;

    }

    #calculator{
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
        
    }

    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }

    .navbar-nav i{
        margin: 0;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }


}
  
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100%;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-third :#23232e;
    --special: #49DBC1;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --text-tertiary:#d0cdd3;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
    --bg-third :#ffffff;
    --special: #49DBC1;
  }
  
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
